
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 300px;
    height: auto;
    border: 1px solid red;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 10px 20px 0 rgb(66, 64, 64)
}

.list {
    list-style: none;
    width: 100%;
}

.task {
    width: 90%;
    height: 30px;
    display: flex;
    flex-flow: row;
    justify-content:space-between;
    border-bottom: 1px solid rgb(213, 213, 213);
}

.button{
    display: none;
}


.task:hover > .button {
    display:block;
}

.input {
    border: 0;
    border-bottom: 1px solid rgb(213, 213, 213);
    outline: none;
}

